:root {
  --color-primary: #35c3c3;
  --color-primary-dark: #106565;
}

*,
*::before,
*::after {
}

p{
  font-size: clamp( 1vw, 1rem, 5vw);
}

.btn {
  background-color: var(--color-primary);
}

.colorMe {
  background-color: var(--color-primary);
  border-radius: 0.5rem 0.5rem 0 0;
}

.titleText {
  color: var(--color-primary);
  font-weight: bolder;
  text-align: center;
}

.unit {
  font-size: 0.725rem;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #35c3c3;
}

.nav-link {
  color: var(--color-primary);
}

.nav-link:hover {
  color: var(--color-primary-dark);
}
